<div class="cover-container d-flex h-100 p-3 mx-auto flex-column container">

  <div class="boxCard">
    <div class="row">
      <div class="col-md-6">
        <h2>Currency Converter</h2>
        <p>Find out up to date market rates</p>
      </div>
    </div>

    <div class="row card-currency">
      <div class="col-md-4 col-lg-4 col-left-currency" >
       
        <div class="row">
          <div class="col-md-11 col-lg-11 col-sm-11 ">
            <label class="lbl-color">Enter the amount $ </label>
            <input class="form-control mt-3 input-font" id="txtAmount" type="text" placeholder="Enter the amount .." value='100'>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-11 col-lg-11 col-sm-11 ">  
            <label class="lbl-color">Convert From</label>
            <select id="drpFromCurrency" class="js-example-placeholder-single js-states form-control"  onchange="showCurrencyDetail()" >
            </select>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-11 col-lg-11 col-sm-11 ">  
            <label class="lbl-color">Convert To</label>
            <select id="drpToCurrency" class="form-control select2"  onchange="showCurrencyDetail()" >
            </select>
          </div>
        </div>
     <br>
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-12 col-sm-12">
              <div class="text-center">
                <div class="spinner-border hidden" style="width: 3rem; height: 3rem; color: white;" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>              
            </div>
        </div>
      
        </div>
      <div class="col-md-8 col-lg-8 col-right-details hidden">
        <div class="row justify-content-between">
          <div clss="col-md-6 col-lg-6 col-xs-12">
            <div class="boxCard">
              <h2 id="title-from"></h2>
              <h3 id="country-from"></h3>
              <h3 id="short-from"></h3>
              <h3 id="symbol-from"></h3>
              <hr>
              <h4 id="rate-from"></h4>
              <h4 id='todays-rate-from'></h4>
          </div>
          </div>
          <div clss="col-md-6 col-lg-6 col-xs-12">
            <div class="boxCard">
              <h2 id="title-to"></h2>
              <h3 id="country-to"></h3>
              <h3 id="short-to"></h3>
              <h3 id="symbol-to"></h3>
              <hr>
              <h4 id="rate-to"></h4>
              <h4 id='todays-rate-to'></h4>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <script src="public/js-page/currencyconverter.js"></script>